@using WebApplication.Forms.Courses
@using WebApplication.ViewModels.Courses
@model WebApplication.ViewModels.Courses.CourseIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-9">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayName("Title")
                </th>
                <th>
                    @Html.DisplayName("Description")
                </th>
                <th>
                    @Html.DisplayName("Publication date")
                </th>
                <th></th>
            </tr>

            @foreach (CourseIndexItemViewModel item in Model.Courses)
            {
                <tr class="item-row" data-day="@item.DayOfWeek" data-startHour="@item.StartHour" data-endHour="@item.EndHour">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                        @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-3">
        @Html.Partial("_Calendar", new CreateCourseForm())
    </div>
</div>
<script>
    function cleanUpCalendar() {
        $('.calendar-cell-selected').each(function() {
            $(this).removeClass('calendar-cell-selected');
        });
    }

    function setUpCalendar(day, startHour, endHour) {
        $('.calendar-cell').each(function() {
            var cell = $(this);
            if (cell.data('day') === day && cell.data('hour') >= startHour && cell.data('hour') <= endHour) {
                cell.addClass('calendar-cell-selected');
            }
        });
    }

    $('.item-row').each(function() {
        var item = $(this);
        item.hover(
            function() {
                setUpCalendar(item.data('day'), item.data('starthour'), item.data('endhour'));
            },
            function() {
                cleanUpCalendar();
            }
        );
    });
</script>